<nav>
    <ul class="logo-list">
        <li>
            <img src="path/to/company-logo.jpg" alt="Company Logo">
        </li>
    </ul>
    <ul class="user-list">
        <li>
            <img class="userimg" src="../../assets/user-profile-icon-free-vector.jpg" alt="User Profile" width="25px"
                height="25px">
        </li>
        <li class="username">Uttpreksha</li>
    </ul>
</nav>
<div class="subHeader">
    <div><h6>Registration Form</h6></div>
    <div><p><i class="fa fa-home"></i> / Registration Form</p></div>
</div>
